# circleci & github credentials
export GH_USER=
export GH_TOKEN=
export GH_REPO=
export CIRCLE_TOKEN=

# heroku credentials
export HEROKU_API_KEY=
export HEROKU_LOGIN=
export HEROKU_APPLICATION=

# make demo unique, be creative, add character
export IMAGE_URL=
export HEADLINE=
export TAGLINE=
